name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libjbig2dec0 libjbig2dec-dev libopenjp2-7-dev libtesseract-dev libleptonica-dev

      - name: Run tests
        run: go test ./...
